* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #EFCA08;
    color: #333;
    line-height: 1.6;
}

header {
    background: #E1BC29;
    color: black;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.inline-content {
    display: flex; 
    align-items: center; / Vertically centers the content /
    gap: 0px; / Adds space between the image and text /
    padding: 10px;
}

.inline-content img {
    max-width: 350px; / Limits the image width */
    height: auto;
}

.inline-content p {
    font-size: 16px;
    color: #333;
}

image {
  vertical-align: middle; / Align image with text /
  display: inline-block;
}

.text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px; / Add some space between the image and text */
}

footer {
    background: #333;
    color: #EFCA08;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}




	
